cog==0.9.24
transformers==4.45.1
whisper-timestamped==1.15.4
openai-whisper==20240927 # pinning version that is compatible with whisper-timestamped
onnxruntime==1.19.2 # to enable vad
torchaudio==2.2.2 # to enable vad
numpy==1.26.4 # to pin compatible version onnxruntime & torchaudio etc